*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-color: brown; 
}

#nav-menu{
background-color: brown;
    display: flex;
    float: right; 
       
}

#nav-menu li{
    list-style: none;
    margin: 0 10px;
}

#nav-menu a{
    list-style: none;
    display: flex;
    text-decoration: none;
    font-size: 1.5em;
     color: white;
}

#text-logo{
text-decoration: none;
color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: brown;
}

#img-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;

} 
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

#btn-order,#btn-contact {
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: orange;
    font-size: 1.0em;
    border: none; 
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
}

 #btn-order:hover, #btn-contact:hover {
    background-color: black;
    transition: 0.3s;
    border-radius: 5px;
    color: white;
}

#header-nav {
    background-color: brown;
    padding: 10px;
justify-content: space-between;
    display: flex;
    align-items: center;
}

#main-content {
    padding-top: 200px;
    margin-left: 50px;


}

#section-1-header {
    font-size: 1.5em;
    color: orange;
    margin-left: 50px
}

.section-1-page {
    font-size: 1.5em;
    color: white;   
}
#coffee-imag {
   float: right ;
    width: 50%;
    height: 400px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 100px;
    padding-bottom: 150px;
}
#nav-menu li:hover{
    background-color: black;
    transition: 0.2s all ease-in-out;
    border-radius: 50%;
    padding: 10px;
}
    


@media screen and (max-width: 768px) {
    #nav-menu {
        flex-direction: column;
        align-items: center;
         font-size: 0.7em;
        display: flex;
    }
    #menu-icon {
        display: flex;
        cursor: pointer;
        display: flex;
        cursor: pointer;
         border: none;
    }
    #nav-menu {
        display: flex;
        flex-direction: column;
    }
    #nav-menu.active {
        display: flex;
    }
    #nav-menu li {
        margin: 10px 0;
    }
    #img-logo {
        width: 40px;
        height: 40px;
        padding: auto;
    }
    #section-1-header, .section-1-page {
        font-size: 1.2em;
    }
    
}
#menu-icon {
    display: block;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: black;
}

